<h1>ESTADÍSTICAS</h1>
<p>
Preguntas totales: <%= quizCount %><br>
Comentarios totales: <%= commentCount %><br>
Comentarios promedio/pregunta: <%= quizAvgComments %><br>
Preguntas con comentarios: <%= quizesWithComments %><br>
Preguntas sin comentarios: <%= quizesWithoutComments %><br>
</p>